.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.marker-btn img {
    width: 40px;
    height: 40px;
}

/* Color Theme Swatches in Hex */
.Dark-green { color: #3B4014; }
.Light-green { color: #8C7503; }
.Beige { color: #BFAC95; }
.Burgundy { color: #73351F; }
.Light-burgundy {color: #A65233; }

#navbar1 {background-color: #3B4014;
    color: white;

}
.Nav-link {
    color: white;
}